name: Docker react App
permissions:
  contents: write
on:
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: node:22
    steps:
      - name: Code
        uses: actions/checkout@v4
    #- name: Install Node v22
    #  uses; actions/setup-node@v4
    #  with:
    #    node-version: 22
      - name: Install
        run: npm install
      - name: Test
        run: npm run test